# Persistindo o modelo
- Agora vamos importar o modelo que exportamos
    - https://scikit-learn.org/stable/model_persistence.html

In [1]:
# Importando o joblib
from joblib import load
import pandas as pd
from sklearn.metrics import mean_absolute_error

In [2]:
# Importando o modelo
regressor = load('regressor_arvore_decisao_teste.joblib')

In [3]:
#**Podemos novamente testar esse modelo nos dados de teste**
# Importando a base
X_teste = pd.read_excel('X_teste.xlsx')
y_teste = pd.read_excel('y_teste.xlsx')

In [4]:
# Visualizando a base importada
X_teste.head(3)

,mes_compra,ano_compra,beleza,carro,casa,construção,crianças,eletro_eletronicos,esporte,games,outros,presentes,produtos_diversos,telefonia_audio_video
0,3,2018,1,0,0,0,0,0,0,0,0,0,0,0
1,3,2018,0,1,0,0,0,0,0,0,0,0,0,0
2,3,2018,0,0,1,0,0,0,0,0,0,0,0,0

In [5]:
# Fazendo o predict e avaliando o erro
previsao = regressor.predict(X_teste)

In [6]:
# Avaliando o erro
# Importando o erro médio absoluto
mean_absolute_error(y_teste, previsao)

1310.715278520996

**Nesse caso vimos que nosso modelo continua funcionando perfeitamente!**<br>
**<font color='blue'>Então podemos fazer a previsão para novos dados!</font>**
- Vamos usar a base `previsao.xlsx`

In [7]:
# Importando uma nova base
base = pd.read_excel('previsao.xlsx')

In [8]:
# Visualizando essa base
base.head(3)

  order_purchase_timestamp  mes_compra  ano_compra      grupo  price
0               2018-08-21           8        2018  presentes    NaN
1               2018-08-21           8        2018     outros    NaN
2               2018-08-21           8        2018      carro    NaN

In [9]:
#**Para conseguir tratar essa base, vamos precisar fazer os mesmos tratamentos que fizemos**
# Usando o get_dummies no grupo
base2 = pd.concat([base, pd.get_dummies(base.grupo)], axis=1)

In [10]:
# E apagando as colunas de data e texto
base2 = base2.drop(['order_purchase_timestamp', 'grupo'], axis=1)

In [11]:
# Definindo o X que vamos usar para fazer a previsão
base2 = base2.drop(['price'], axis=1)

In [12]:
# Fazendo a previsão
base['price'] = regressor.predict(base2)

In [13]:
# Exportando para Excel
base.to_excel('resultado_base_final.xlsx', index=False)